{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">

                {# Remove this include if you don't need it anymore. #}
{#                {{ include('partials/_fresh_install.twig') }}#}

                {% setcontent homepage = "homepage" limit 1 returnsingle %}
                {% if homepage %}
                <div class="content">
                    <h2 class="title is-size-1 is-size-3-mobile">{{ homepage.title }}</h2>
                    <div class="teaser">{{ homepage.teaser }}</div>
                    {{ homepage.content }}

                    {% include 'partials/_record_meta.twig' with {'record': homepage } %}
                </div>
                {% else %}
                    {# Remove this include if you don't need it anymore. #}
                    {{ include('partials/_no_content.twig') }}
                {% endif %}
            </div>
            <div class="column">
                {{ include('partials/_aside.twig') }}
            </div>
        </div>
    </div>
</section>



{# Latest entries #}

<section class="section section-latest-entries">
    <div class="container">
        <h2 class="title">Most recently updated Packages</h2>
        {% setcontent records = 'packages' order '-time_updated' %}
        {% for record in records %}

            {% include('partials/_sub_listing_package.twig') %}

        {% else %}
            <p>{{ __("general.phrase.no-content-found") }}</p>
        {% endfor %}
        <div class="buttons has-addons is-right">
            <a class="button is-primary" href="{{ path('listing', {'contentTypeSlug': 'entries'}) }}">Read more <span class="is-hidden"> Entries</span></a>
        </div>
    </div>
</section>

{% include "partials/_sub_recent_records.twig" %}

{% endblock main %}
