{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-record">
    <div class="container">
        {% if record|image  %}
        <figure class="image is-2by1">
            <img src="{{ record|image|thumbnail(1080, 540, fit='crop') }}" alt="{{ record|image.alt|default() }}" />
            <figcaption>
                {{ record|image.alt|default() }}
            </figcaption>
        </figure>
        {% endif %}

        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <article role="article" class="content">
                    <h1 class="title is-size-1 is-size-3-mobile">{{ record|title }}</h1>

                    <p><strong>{{ record.description }}</strong></p>

                    {{ dump(record.fieldvalues) }}

                    <p>Installation instructions:</p>

{% if record.packagist_type == 'bolt-theme' %}
<pre class="language-bash">
composer require {{ record.packagist_name }}
bin/console bolt:copy-theme {{ record.packagist_name }}</pre>
{% else %}
<pre class="language-bash">
composer require {{ record.packagist_name }}</pre>
{% endif %}

                    {% include 'partials/_screenshots.twig' with {'record': record} %}


                    <ul>
                        <li>Type: <strong>{% if record.packagist_type == 'bolt-theme' %}Theme{% else %}Extension{% endif %}</strong></li>
                        <li>Repository: <strong> <a href="{{ record.repository }}">{{ record.repository }}</a></strong></li>
                        <li>Popularity: <strong> {{ record.github_stars }}</strong> stars on Github.</li>
                        <li>Created: <strong> {{ record.time|localedatetime("%B %e, %Y") }}</strong> </li>
                        <li>Last updated: <strong> {{ record.time_updated|localedatetime("%B %e, %Y") }}</strong> </li>
                        <li>Downloads: <strong> {{ record.downloads_total }}</strong> total,
                            <strong>{{ record.downloads_monthly }}</strong> monthly,
                                <strong>{{ record.downloads_daily }}</strong> daily, </li>

                        <li>Maintainers:<strong>
                            {% if attribute(record.maintainers.value, 'name') is defined %}
                                {% set maintainers = [record.maintainers.value] %}
                            {% else %}
                                {% set maintainers = record.maintainers.value %}
                            {% endif %}
                            {% for maintainer in maintainers %}
                                <strong>{{ maintainer.name }}</strong>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </li>

                        <li>Versions:<strong>
                            {% for version in record.versions.value %}
                                <span class="tag is-light">{{ version }}</span>
                            {% endfor %}
                        </li>
                    </ul>

                </article>
            </div>
        </div>
    </div>
</section>

{% include "partials/_sub_recent_packages.twig" %}

{% endblock main %}
